/* BPCommonSideBar.css */

.bp-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 255px; 
    position: relative;
    box-sizing: border-box;
    padding: 0 5px;
    height: calc(100vh - 65px);
    overflow-y: scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 30px;
}

.bp-sidebar::-webkit-scrollbar {
    display: none;
}


.bp-sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    margin-top: 20px;
}


.sidebar-nav-item { 
    gap: 25px;
    width: 100%; 
    border: none; 
    font-family: inherit; 
    cursor: pointer;
    transition: 0.5s ease;  
    
    color: #26a3db ;
    background-color: #DFF1FA ;
    font-size: 1rem ;
    padding: 6px 6px ;
    padding-left: 15px ;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar-nav-item:hover, .sidebar-nav-item:focus-visible,.sidebar-nav-item--active  {
    color: #ffffff ;
    background-color: #26a3db ;
    outline: none;
}
 
.sidebar-nav-item--disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.sidebar-nav-item__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-nav-item__icon {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.sidebar-nav-item .sidebar-nav-item__icon svg .hover{
    transition : 0.5s ease
}
.sidebar-nav-item .sidebar-nav-item__icon svg .non-hover{
    transition : 0.5s ease
}
.sidebar-nav-item:hover .sidebar-nav-item__icon svg .hover{
    fill : #fff
}
.sidebar-nav-item:hover .sidebar-nav-item__icon svg .non-hover{
    fill : #26a3db
}


.bp-sidebar__footer {
    padding: 10px 12px;
}

.sidebar-help-link:hover, .sidebar-help-link:focus-visible {
    background-color: #5c636a ; 
    color: white ;   
    outline: 0;
} 

#root{
    max-height: 100vh;
    overflow-y: hidden;
}

.sidebar-help-link { 
    color: #6A6D73 ;
    background-color: #eeeeee ;
    font-size: 1rem ;
    padding: 6px 6px ;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: 0.5s ease;    
    padding-left: 15px ;
    gap: 15px; 
} 